.Footer-container {
    position: relative;
}
.Footer-container>hr {
    border: 1px solid var(--lightgray);
}

.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content:center ;
    height: 20rem;
}

.social-links {
    display: flex;
    gap: 4rem;
}
.social-links>img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.logo-f >img{
    width: 10rem;
}


.blur {
    background: rgba(253, 120, 43, .69);
    border-radius: 50%;
    -webkit-filter: blur(212px);
    filter: blur(212px);
    -webkit-filter: blur(150px);
    filter: blur(150px);
    position: absolute;
    z-index: -9;
}